In [10]:
print ("Hello")

Hello

In [1]:
# Assignment 2.1: Add three numbers and print the result

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Calculate sum
result = num1 + num2 + num3

# Display result
print("The sum of three numbers is:", result)

Enter first number: 1
Enter second number: 2
Enter third number: 3
The sum of three numbers is: 6.0

In [2]:
# Assignment 2.2: Concatenate three strings and print the result

# Input three strings
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
str3 = input("Enter third string: ")

# Concatenate
result = str1 + str2 + str3

# Display result
print("The concatenated string is:", result)

Enter first string: kakaak
Enter second string: ashir
Enter third string: ahsis
The concatenated string is: kakaakashirahsis

In [ ]:
# Assignment 4.1: Print the table of 7 and 9

print("Table of 7:")
for i in range(1, 11):
    print(f"7 x {i} = {7 * i}")

print("\nTable of 9:")
for i in range(1, 11):
    print(f"9 x {i} = {9 * i}")

Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [3]:
# Assignment 4.2: Print the table of n given by the user

n = int(input("Enter a number to print its table: "))

print(f"Table of {n}:")
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number to print its table: 2
Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [4]:
# Assignment 4.3: Add all numbers from 1 to n
n = int(input("Enter a number: "))

total = 0
for i in range(1, n + 1):
    total += i

print(f"The sum of numbers from 1 to {n} is: {total}")

Enter a number: 6
The sum of numbers from 1 to 6 is: 21

In [5]:
# Assignment 5.1: Find the maximum among three numbers
# Input three numbers
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

# Use max() function
maximum = max(a, b, c)

# Display result
print("The maximum number is:", maximum)

Enter first number: 12
Enter second number: 4
Enter third number: 8
The maximum number is: 12.0

In [6]:
# Assignment 5.2: Add all numbers divisible by both 7 and 9 from 1 to n

n = int(input("Enter the value of n: "))

total = 0
for i in range(1, n + 1):
    if i % 7 == 0 and i % 9 == 0:
        total += i

print("The sum of numbers divisible by both 7 and 9 from 1 to", n, "is:", total)

Enter the value of n: 39
The sum of numbers divisible by both 7 and 9 from 1 to 39 is: 0

In [7]:
# Assignment 5.3: Add all prime numbers from 1 to n

n = int(input("Enter the value of n: "))

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

total = 0
for i in range(1, n + 1):
    if is_prime(i):
        total += i

print("The sum of all prime numbers from 1 to", n, "is:", total)

Enter the value of n: 90
The sum of all prime numbers from 1 to 90 is: 963

In [8]:
# Assignment 6.1: Add all odd numbers from 1 to n using a function

def add_odd_numbers(n):
    total = 0
    for i in range(1, n + 1):
        if i % 2 != 0:
            total += i
    return total

# Input from user
n = int(input("Enter the value of n: "))

# Function call and result display
print("The sum of all odd numbers from 1 to", n, "is:", add_odd_numbers(n))

Enter the value of n: 12
The sum of all odd numbers from 1 to 12 is: 36

In [9]:
# Assignment 6.2: Add all prime numbers from 1 to n using a function

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def add_prime_numbers(n):
    total = 0
    for i in range(1, n + 1):
        if is_prime(i):
            total += i
    return total

# Input from user
n = int(input("Enter the value of n: "))

# Function call and result display
print("The sum of all prime numbers from 1 to", n, "is:", add_prime_numbers(n))

Enter the value of n: 3
The sum of all prime numbers from 1 to 3 is: 5