In [ ]:
# Assignment-2: Pandas
import pandas as pd

# -----------------------------
# Q1. Create a dataset
# -----------------------------
data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'Name': ['Naveen', 'Ritika', 'Abhay', 'Tara', 'Yug', 'Sana', 'Harsh', 'Aarohi', 'Ira'],
    'Age': [22, 24, 23, 25, 21, 26, 27, 23, 22],
    'Department': ['Data', 'HR', 'Finance', 'Data', 'Sales', 'Finance', 'Marketing', 'Data', 'HR'],
    'Salary': [40000, 42000, 39000, 41000, 37000, 43000, 44000, 45000, 46000]
}
df = pd.DataFrame(data)
print("Q1. Created DataFrame:")
print(df)

# -----------------------------
# Q2. Locate rows 0, 4, 7, 8
# -----------------------------
print("\nQ2. Rows 0, 4, 7, 8:")
print(df.loc[[0, 4, 7, 8]])

# -----------------------------
# Q3. Read a CSV file and display it
# -----------------------------
# Example (replace path with your own CSV)
# csv_df = pd.read_csv("sample.csv")
# print(csv_df.head())

print("\nQ3. (Please read your CSV file using pd.read_csv('filename.csv'))")

# -----------------------------
# Q4. Understanding Attribute Types
# -----------------------------
nominal = ['Name', 'Department']
binary = ['Gender (Male/Female)', 'Pass/Fail']
ordinal = ['Performance (Low < Medium < High)']
numeric = ['Age', 'Salary']

print("\nQ4. Attribute Types:")
print("Nominal:", nominal)
print("Binary:", binary)
print("Ordinal:", ordinal)
print("Numeric:", numeric)

# -----------------------------
# Q5. DataFrame Navigation
# -----------------------------
print("\nQ5. 1) Rows 3 to 7:")
print(df.loc[3:7])

print("\nQ5. 2) Rows 4 to 8, Columns 2 to 4:")
print(df.iloc[4:9, 2:5])

print("\nQ5. 3) All rows, Columns 1 to 3:")
print(df.iloc[:, 1:4])

# -----------------------------
# Q6. Read the Iris dataset (from Kaggle)
# -----------------------------
# iris = pd.read_csv("Iris.csv")  # ensure the file path is correct
# print("\nQ6. First 5 rows of Iris dataset:")
# print(iris.head())

print("\nQ6. (Download and read the Iris dataset using pd.read_csv('Iris.csv'))")

# -----------------------------
# Q7. Delete row 4 and column 3 from Iris
# -----------------------------
# iris_modified = iris.drop(index=4).drop(iris.columns[3], axis=1)
# print("\nQ7. After deleting row 4 and column 3:")
# print(iris_modified.head())

print("\nQ7. (Perform deletion using drop: df.drop(index=4).drop(df.columns[3], axis=1))")

# -----------------------------
# Q8. Employee dataset
# -----------------------------
employees = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}

emp_df = pd.DataFrame(employees)
print("\nQ8. Employee DataFrame:")
print(emp_df)

# a) Shape
print("\n(a) Shape:", emp_df.shape)

# b) Summary info
print("\n(b) Info:")
print(emp_df.info())

# c) Descriptive statistics
print("\n(c) Describe:")
print(emp_df.describe())

# d) First 5 and last 3 rows
print("\n(d) First 5 rows:")
print(emp_df.head())
print("\nLast 3 rows:")
print(emp_df.tail(3))

# e) Calculations
print("\n(e) Calculations:")
print("Average Salary:", emp_df['Salary'].mean())
print("Total Bonus:", emp_df['Bonus'].sum())
print("Youngest Age:", emp_df['Age'].min())
print("Highest Rating:", emp_df['Rating'].max())

# f) Sort by Salary descending
print("\n(f) Sorted by Salary (descending):")
print(emp_df.sort_values(by='Salary', ascending=False))

# g) Add Performance Category
def category(r):
    if r >= 4.5:
        return 'Excellent'
    elif r >= 4.0:
        return 'Good'
    else:
        return 'Average'

emp_df['Performance'] = emp_df['Rating'].apply(category)
print("\n(g) With Performance Category:")
print(emp_df[['Name', 'Rating', 'Performance']])

# h) Missing values
print("\n(h) Missing Values:")
print(emp_df.isnull().sum())




























# i) Rename column
emp_df.rename(columns={'Employee_ID': 'ID'}, inplace=True)
print("\n(i) Renamed Column:")
print(emp_df.head())

# j) Filters
print("\n(j) More than 5 years experience:")
print(emp_df[emp_df['Years_of_Experience'] > 5])

print("\nBelong to IT Department:")
print(emp_df[emp_df['Department'] == 'IT'])

# k) Add Tax column (10% of Salary)
emp_df['Tax'] = emp_df['Salary'] * 0.10
print("\n(k) Added Tax Column:")
print(emp_df[['Name', 'Salary', 'Tax']])

# l) Save to CSV
emp_df.to_csv('employees_modified.csv', index=False)
print("\n(l) Saved modified DataFrame to employees_modified.csv")

Q1. Created DataFrame:
   ID    Name  Age Department  Salary
0   1  Naveen   22       Data   40000
1   2  Ritika   24         HR   42000
2   3   Abhay   23    Finance   39000
3   4    Tara   25       Data   41000
4   5     Yug   21      Sales   37000
5   6    Sana   26    Finance   43000
6   7   Harsh   27  Marketing   44000
7   8  Aarohi   23       Data   45000
8   9     Ira   22         HR   46000

Q2. Rows 0, 4, 7, 8:
   ID    Name  Age Department  Salary
0   1  Naveen   22       Data   40000
4   5     Yug   21      Sales   37000
7   8  Aarohi   23       Data   45000
8   9     Ira   22         HR   46000

Q3. (Please read your CSV file using pd.read_csv('filename.csv'))

Q4. Attribute Types:
Nominal: ['Name', 'Department']
Binary: ['Gender (Male/Female)', 'Pass/Fail']
Ordinal: ['Performance (Low < Medium < High)']
Numeric: ['Age', 'Salary']

Q5. 1) Rows 3 to 7:
   ID    Name  Age Department  Salary
3   4    Tara   25       Data   41000
4   5     Yug   21      Sales   37000
5   6    Sana   26    Finance   43000
6   7   Harsh   27  Marketing   44000
7   8  Aarohi   23       Data   45000

Q5. 2) Rows 4 to 8, Columns 2 to 4:
   Age Department  Salary
4   21      Sales   37000
5   26    Finance   43000
6   27  Marketing   44000
7   23       Data   45000
8   22         HR   46000

Q5. 3) All rows, Columns 1 to 3:
     Name  Age Department
0  Naveen   22       Data
1  Ritika   24         HR
2   Abhay   23    Finance
3    Tara   25       Data
4     Yug   21      Sales
5    Sana   26    Finance
6   Harsh   27  Marketing
7  Aarohi   23       Data
8     Ira   22         HR

Q6. (Download and read the Iris dataset using pd.read_csv('Iris.csv'))

Q7. (Perform deletion using drop: df.drop(index=4).drop(df.columns[3], axis=1))

Q8. Employee DataFrame:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

(a) Shape: (5, 10)

(b) Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

(c) Describe:
       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

(d) First 5 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Last 3 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

(e) Calculations:
Average Salary: 60000.0
Total Bonus: 27500
Youngest Age: 28
Highest Rating: 4.7

(f) Sorted by Salary (descending):
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

(g) With Performance Category:
      Name  Rating Performance
0    Alice     4.5   Excellent
1      Bob     4.0        Good
2  Charlie     3.8     Average
3    Diana     4.7   Excellent
4   Edward     3.5     Average

(h) Missing Values:
Employee_ID            0
Name                   0
Department             0
Age                    0
Salary                 0
Years_of_Experience    0
Joining_Date           0
Gender                 0
Bonus                  0
Rating                 0
Performance            0
dtype: int64

(i) Renamed Column:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance
0  Female   5000     4.5   Excellent
1    Male   7000     4.0        Good
2    Male   6000     3.8     Average
3  Female   4500     4.7   Excellent
4    Male   5000     3.5     Average

(j) More than 5 years experience:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance
1   Male   7000     4.0        Good
2   Male   6000     3.8     Average
4   Male   5000     3.5     Average

Belong to IT Department:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance
1   Male   7000     4.0        Good
2   Male   6000     3.8     Average

(k) Added Tax Column:
      Name  Salary     Tax
0    Alice   50000  5000.0
1      Bob   70000  7000.0
2  Charlie   65000  6500.0
3    Diana   55000  5500.0
4   Edward   60000  6000.0

(l) Saved modified DataFrame to employees_modified.csv